{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>Все статьи </h1>
<h3>Всего статей: {{ posts|length }}</h3>
{% if posts %}
 <table>
        <tr>
            <td>
                <h5>Название</h5>
            </td>
            <td>
                <h5>Дата публикации</h5>
            </td>
            <td>
                <h5>Текст</h5>
            </td>
        </tr>
 {% for post in posts %}
     <tr>
        <td>
            {{ post.title|censor }}
        </td>
        <td>
            {{ post.dateCreation|date:'d-M-Y' }}
        </td>
        <td>
            {{ post.text|truncatewords:20|censor }}
        </td>
    </tr>
{% endfor %}
{% else %}
     <h1>Статей нет((((((</h1>
{% endif %}

{% endblock content %}